#banniere{
   width:400px;
   height:200px;
   margin:auto;
   text-align:left;
   font-family: Arial;
   font-weight: bold;
}
a {
   text-decoration: none;
   color:inherit;
}
.white {
   color:#fff;
}
.dark {
   color:#266D83;
}
.small {
   font-size: 14px;
}
.big {
   font-size: 24px;
}
.ban {
  display: flex; /* contexte sur le parent */
  flex-direction: column; /* direction d'affichage verticale */
  justify-content: center; /* alignement vertical */
  width: 100%;
  height:100%;
  white-space: nowrap;
  padding-left: 10px;
  border:2px black double;
  line-height: 120%;
}

/*En fonction de la bannière, on change le fond*/
#ban1{
   background-color:#14BDEF;
}

#ban2{
   background-color:#14BDEF;
}

#ban3{
   background-color:#14BDEF;
}
#ban4{
   background-color:#fff;
   font-size: 18px;
}
