/*** Générique ***/
* {
	margin:0px;
	padding:0px;
}
body {
	font-family:Arial, sans-serif;
 	color:#000000;
  	font-style:normal; 
  	text-align:left;
   	padding-left:50px;
    padding-right:50px;
}	
h1 {
	font-size:20px;
	color:#000;
	text-transform: uppercase;
	border-bottom: 2px solid #14BDEF;
	margin: 5px 0 5px 0;
}
h2 {
	font-size:16px;
	text-transform: uppercase;
}
h3 {
	font-size:12px;
	font-style: oblique;
	font-weight:normal;
}
h4 {
	font-size:16px;
	margin-left:10px;
}
h5 {
	font-size:14px;
}
p {
	font-size:14px;
}
a {
	font-size:12px;
 	text-decoration:none;
  	color:#14BDEF;
}
a:hover {
	color:#277182;
}
img	{
	border-style:none;
}
select {
	margin: 5px 0 5px 0 ;
	width: 100%;
	height: 24px;
	background-color:#F2F2F2 ;
	border-style:none;
}
/*** Header ***/
header { 
	width: 100%;
 	height: 180px;
  	text-align: center;
  	margin: 0 0 10px 0;
 }
#logo-decodez {
	width: 370px;
	height: 180px;
	/*margin:0 auto 0 auto ;
	position : absolute;*/ 
}
#logo-pia { 
	width:104px;
	height:104px;
 	float:right;
 	margin: 5px 10px 0 0;
 }
/* Choices */
#select { 
	width:100%;
	height:400px;
}

/* Results */
.result { width:100%; padding:5px 0 5px 0; background-color:#F2F2F2;}
.result:hover {
	background-color:#277182;
	color:#FFF;
}
.active {
  background-color: #277182;
  color: #FFF;
}
.link { 
	margin: 0 0 10px 0;
}
.article {
	margin: 20px 10px 20px 10px;
}
/* Footer */
#bas { width:100%; height:200px; text-align:center; margin-top:80px;}
#bas a:hover { color:#277182;}
#logo-projets {
	margin-bottom: 30px;
}
#pixees {
	font-weight: bold;
	color:#ED1C24;
}

/*RESPONSIVE*/

@media (max-width: 780px) {	

body {
   	padding-left:5px;
    padding-right:5px;
    text-align: none;
}
header { 
	width: 100%;
  	display:flex;
  	flex-direction: column;
  	margin: auto ;
  	text-align: center;
 }
#logo-decodez {
	width: 232px;
	height: 112px; 
	margin:auto;
	margin-bottom: 10px;
}
#logo-pia { 
	width:80px;
	height:80px;
 	float:none;
 	margin:auto;
 }
#choices {
	margin-top: 20px;
}
.article {
	margin: 20px 10px 20px 10px;
}
h1 {
	font-size:25px;
	margin: 5px 0 5px 0;
}
select, h4 {
	font-size: 20px;
}
p, h3, a, h5{
	font-size: 18px;
}
}